In [3]:
%%capture
%load_ext sql
%sql sqlite:///factbook.db

'Connected: None@factbook.db'

In [2]:
%%sql
SELECT *
  FROM sqlite_master
 WHERE type='table';

Done.

[('table', 'sqlite_sequence', 'sqlite_sequence', 3, 'CREATE TABLE sqlite_sequence(name,seq)'),
 ('table', 'facts', 'facts', 47, 'CREATE TABLE "facts" ("id" INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL, "code" varchar(255) NOT NULL, "name" varchar(255) NOT NULL, "area" integer, "a ... (4 characters truncated) ... land" integer, "area_water" integer, "population" integer, "population_growth" float, "birth_rate" float, "death_rate" float, "migration_rate" float)')]

In [4]:
%%sql
SELECT *
  FROM facts
 LIMIT 5

Done.

[(1, 'af', 'Afghanistan', 652230, 652230, 0, 32564342, 2.32, 38.57, 13.89, 1.51),
 (2, 'al', 'Albania', 28748, 27398, 1350, 3029278, 0.3, 12.92, 6.58, 3.3),
 (3, 'ag', 'Algeria', 2381741, 2381741, 0, 39542166, 1.84, 23.67, 4.31, 0.92),
 (4, 'an', 'Andorra', 468, 468, 0, 85580, 0.12, 8.13, 6.96, 0.0),
 (5, 'ao', 'Angola', 1246700, 1246700, 0, 19625353, 2.78, 38.78, 11.49, 0.46)]

In [5]:
%%sql
SELECT MIN(population), MAX(population), MIN(population_growth), MAX(population_growth)
  FROM facts

Done.

[(0, 7256490011, 0.0, 4.02)]

In [15]:
%%sql
SELECT name
  FROM facts
    
    WHERE population == (SELECT MIN(population)
                         FROM facts);

Done.

[('Antarctica',)]

In [17]:
%%sql
SELECT name
  FROM facts
    
    WHERE population == (SELECT MAX(population)
                         FROM facts
                        WHERE name != 'World');

Done.

[('China',)]

In [18]:
%%sql
SELECT name
  FROM facts
    
    WHERE population_growth == (SELECT MIN(population_growth)
                         FROM facts);

Done.

[('Holy See (Vatican City)',),
 ('Cocos (Keeling) Islands',),
 ('Greenland',),
 ('Pitcairn Islands',)]

In [19]:
%%sql
SELECT name
  FROM facts
    
    WHERE population_growth == (SELECT MAX(population_growth)
                         FROM facts);

Done.

[('South Sudan',)]

In [20]:
%%sql
SELECT AVG(population)
  FROM facts

Done.

[(62094928.32231405,)]

In [21]:
%%sql
SELECT AVG(area)
  FROM facts

Done.

[(555093.546184739,)]

In [24]:
%%sql
SELECT name
  FROM facts
    
    WHERE population > (SELECT AVG(population)
                         FROM facts) 
    AND area > (SELECT AVG(area)
                        FROM facts)

Done.

[('Brazil',),
 ('China',),
 ('Congo, Democratic Republic of the',),
 ('Egypt',),
 ('Ethiopia',),
 ('France',),
 ('India',),
 ('Indonesia',),
 ('Iran',),
 ('Mexico',),
 ('Nigeria',),
 ('Pakistan',),
 ('Russia',),
 ('Turkey',),
 ('United States',),
 ('European Union',)]

In [28]:
%%sql
SELECT name, area_water, area_land
  FROM facts
    
    WHERE area_water /area_land > (SELECT AVG(area_water /area_land)
                         FROM facts);

Done.

[('British Indian Ocean Territory', 54340, 60), ('Virgin Islands', 1564, 346)]

In [29]:
%%sql
SELECT name, area_water, area_land
  FROM facts
    
    WHERE area_water  > area_land

Done.

[('British Indian Ocean Territory', 54340, 60), ('Virgin Islands', 1564, 346)]

In [37]:
%%sql
SELECT name, population_growth
  FROM facts
    
     
    ORDER BY population_growth DESC
    LIMIT 5

Done.

[('South Sudan', 4.02),
 ('Malawi', 3.32),
 ('Burundi', 3.28),
 ('Niger', 3.25),
 ('Uganda', 3.24)]

In [41]:
%%sql
SELECT name
  FROM facts
    WHERE birth_rate < death_rate

Done.

[('Austria',),
 ('Belarus',),
 ('Bosnia and Herzegovina',),
 ('Bulgaria',),
 ('Croatia',),
 ('Czech Republic',),
 ('Estonia',),
 ('Germany',),
 ('Greece',),
 ('Hungary',),
 ('Italy',),
 ('Japan',),
 ('Latvia',),
 ('Lithuania',),
 ('Moldova',),
 ('Monaco',),
 ('Poland',),
 ('Portugal',),
 ('Romania',),
 ('Russia',),
 ('Serbia',),
 ('Slovenia',),
 ('Ukraine',),
 ('Saint Pierre and Miquelon',)]

In [47]:
%%sql
SELECT name AS name1, population/area AS pop_density
  FROM facts
    
     
    ORDER BY population/area DESC

Done.

[('Macau', 21168),
 ('Monaco', 15267),
 ('Singapore', 8141),
 ('Hong Kong', 6445),
 ('Gaza Strip', 5191),
 ('Gibraltar', 4876),
 ('Bahrain', 1771),
 ('Maldives', 1319),
 ('Malta', 1310),
 ('Bermuda', 1299),
 ('Sint Maarten', 1167),
 ('Bangladesh', 1138),
 ('Guernsey', 847),
 ('Jersey', 838),
 ('Barbados', 675),
 ('Mauritius', 656),
 ('Taiwan', 650),
 ('Aruba', 623),
 ('Lebanon', 594),
 ('Saint Martin', 588),
 ('San Marino', 541),
 ('Korea, South', 492),
 ('Rwanda', 480),
 ('West Bank', 475),
 ('Nauru', 454),
 ('Tuvalu', 418),
 ('Netherlands', 407),
 ('Marshall Islands', 398),
 ('Israel', 387),
 ('Burundi', 385),
 ('India', 380),
 ('Belgium', 370),
 ('Haiti', 364),
 ('Comoros', 349),
 ('Philippines', 336),
 ('Sri Lanka', 336),
 ('Japan', 335),
 ('Curacao', 334),
 ('Grenada', 321),
 ('Guam', 297),
 ('El Salvador', 291),
 ('Vietnam', 284),
 ('American Samoa', 273),
 ('Jamaica', 268),
 ('Saint Lucia', 266),
 ('Saint Vincent and the Grenadines', 263),
 ('United Kingdom', 263),
 ('Puerto Rico', 260),
 ('Pakistan', 250),
 ('Trinidad and Tobago', 238),
 ('Liechtenstein', 235),
 ('Germany', 226),
 ('British Virgin Islands', 221),
 ('Luxembourg', 220),
 ('Dominican Republic', 215),
 ('Nepal', 214),
 ('Cayman Islands', 212),
 ('Antigua and Barbuda', 209),
 ('Korea, North', 207),
 ('Italy', 205),
 ('Seychelles', 203),
 ('Sao Tome and Principe', 201),
 ('Saint Kitts and Nevis', 198),
 ('Nigeria', 196),
 ('Switzerland', 196),
 ('Qatar', 189),
 ('Andorra', 182),
 ('Anguilla', 180),
 ('Gambia, The', 174),
 ('Kosovo', 171),
 ('Kuwait', 156),
 ('Uganda', 153),
 ('Isle of Man', 153),
 ('Malawi', 151),
 ('Micronesia, Federated States of', 149),
 ('China', 142),
 ('Tonga', 142),
 ('Guatemala', 137),
 ('Cabo Verde', 135),
 ('Czech Republic', 134),
 ('Indonesia', 134),
 ('Thailand', 132),
 ('Togo', 132),
 ('Kiribati', 130),
 ('Denmark', 129),
 ('Cyprus', 128),
 ('Akrotiri', 127),
 ('Poland', 123),
 ('Dhekelia', 120),
 ('European Union', 118),
 ('Portugal', 117),
 ('Azerbaijan', 112),
 ('Northern Mariana Islands', 112),
 ('Slovakia', 111),
 ('Tokelau', 111),
 ('Ghana', 110),
 ('Wallis and Futuna', 109),
 ('Hungary', 106),
 ('Albania', 105),
 ('Moldova', 104),
 ('Austria', 103),
 ('France', 103),
 ('Armenia', 102),
 ('Turkey', 101),
 ('Cuba', 99),
 ('Dominica', 98),
 ('Slovenia', 97),
 ('Spain', 95),
 ('Costa Rica', 94),
 ('Benin', 92),
 ('Malaysia', 92),
 ('Serbia', 92),
 ('Syria', 92),
 ('Ethiopia', 90),
 ('Jordan', 90),
 ('Romania', 90),
 ('Egypt', 88),
 ('Cambodia', 86),
 ('Iraq', 84),
 ('Burma', 83),
 ('Swaziland', 82),
 ('Timor-Leste', 82),
 ('Greece', 81),
 ('Macedonia', 81),
 ('Sierra Leone', 81),
 ('Kenya', 79),
 ('Croatia', 78),
 ('Honduras', 78),
 ('Bosnia and Herzegovina', 75),
 ('Brunei', 74),
 ('Morocco', 74),
 ('Ukraine', 73),
 ("Cote d'Ivoire", 72),
 ('Senegal', 71),
 ('Georgia', 70),
 ('Burkina Faso', 69),
 ('Ireland', 69),
 ('Samoa', 69),
 ('United Arab Emirates', 69),
 ('Tunisia', 67),
 ('French Polynesia', 67),
 ('Uzbekistan', 65),
 ('Bulgaria', 64),
 ('Lesotho', 64),
 ('Mexico', 61),
 ('Norfolk Island', 61),
 ('Tajikistan', 56),
 ('Ecuador', 55),
 ('Eritrea', 55),
 ('Virgin Islands', 54),
 ('Tanzania', 53),
 ('Turks and Caicos Islands', 53),
 ('Montserrat', 51),
 ('Yemen', 50),
 ('Afghanistan', 49),
 ('Cameroon', 49),
 ('Fiji', 49),
 ('Iran', 49),
 ('Panama', 48),
 ('Guinea', 47),
 ('Guinea-Bissau', 47),
 ('Belarus', 46),
 ('Montenegro', 46),
 ('Palau', 46),
 ('Nicaragua', 45),
 ('Lithuania', 44),
 ('South Africa', 44),
 ('Cocos (Keeling) Islands', 42),
 ('Colombia', 41),
 ('Cook Islands', 41),
 ('Madagascar', 40),
 ('Liberia', 37),
 ('Zimbabwe', 36),
 ('Faroe Islands', 36),
 ('Djibouti', 35),
 ('Congo, Democratic Republic of the', 33),
 ('United States', 32),
 ('Venezuela', 32),
 ('Mozambique', 31),
 ('Latvia', 30),
 ('Laos', 29),
 ('Kyrgyzstan', 28),
 ('Estonia', 27),
 ('Equatorial Guinea', 26),
 ('Saint Helena, Ascension, and Tristan da Cunha', 25),
 ('Bahamas, The', 23),
 ('Brazil', 23),
 ('Chile', 23),
 ('Peru', 23),
 ('Saint Pierre and Miquelon', 23),
 ('Vanuatu', 22),
 ('Solomon Islands', 21),
 ('Sweden', 21),
 ('Zambia', 20),
 ('Bhutan', 19),
 ('Sudan', 19),
 ('South Sudan', 18),
 ('Uruguay', 18),
 ('Algeria', 16),
 ('Finland', 16),
 ('New Zealand', 16),
 ('Norway', 16),
 ('Paraguay', 16),
 ('Somalia', 16),
 ('Angola', 15),
 ('Argentina', 15),
 ('Belize', 15),
 ('Papua New Guinea', 14),
 ('New Caledonia', 14),
 ('Congo, Republic of the', 13),
 ('Mali', 13),
 ('Saudi Arabia', 12),
 ('Christmas Island', 11),
 ('Oman', 10),
 ('Turkmenistan', 10),
 ('Bolivia', 9),
 ('Central African Republic', 8),
 ('Russia', 8),
 ('Gabon', 6),
 ('Kazakhstan', 6),
 ('Niue', 4),
 ('Botswana', 3),
 ('Canada', 3),
 ('Guyana', 3),
 ('Iceland', 3),
 ('Libya', 3),
 ('Mauritania', 3),
 ('Suriname', 3),
 ('Australia', 2),
 ('Namibia', 2),
 ('Western Sahara', 2),
 ('Mongolia', 1),
 ('Pitcairn Islands', 1),
 ('Greenland', 0),
 ('Svalbard', 0),
 ('Falkland Islands (Islas Malvinas)', 0),
 ('Chad', None),
 ('Niger', None),
 ('Holy See (Vatican City)', None),
 ('Ashmore and Cartier Islands', None),
 ('Coral Sea Islands', None),
 ('Heard Island and McDonald Islands', None),
 ('Clipperton Island', None),
 ('French Southern and Antarctic Lands', None),
 ('Saint Barthelemy', None),
 ('Bouvet Island', None),
 ('Jan Mayen', None),
 ('British Indian Ocean Territory', None),
 ('South Georgia and South Sandwich Islands', None),
 ('Navassa Island', None),
 ('Wake Island', None),
 ('United States Pacific Island Wildlife Refuges', None),
 ('Antarctica', None),
 ('Paracel Islands', None),
 ('Spratly Islands', None),
 ('Arctic Ocean', None),
 ('Atlantic Ocean', None),
 ('Indian Ocean', None),
 ('Pacific Ocean', None),
 ('Southern Ocean', None),
 ('World', None)]